.navbar {
	background-color: #FFB4B0;
	margin-bottom:2em;
}

.leftSelectorForm {
	background-color: #4DD7FA;
	margin-top: 4em;
}

.songList {
	background-color: #FEFAC0;
}

/*Red = #FFB4B0  
Blue = #4DD7FA  
Light yellow = #FEFAC0  
Dark yellow = #785616*/	